video::cue-region,
      video::cue,
      video::marker {
        all: unset;
      }

      #loading-page {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #02042b;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #loading-video {
        max-width: 100%;
        max-height: 100%;
        margin-top: -100px;
      }
